name: EPG自动更新
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 配置Python环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装依赖库
        run: pip install requests lxml beautifulsoup4
        continue-on-error: true

      - name: 运行合并脚本
        run: python merge.py
        continue-on-error: true

      - name: 强制更新文件时间并推送
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          touch output/epg.xml output/epg.gz output/weifang.xml
          git add -f output/epg.xml output/epg.gz output/weifang.xml
          git commit -m "强制更新EPG文件 $(date +'%Y-%m-%d %H:%M:%S')" --allow-empty
          git push -f origin master
        continue-on-error: true
