name: EPG自动更新
on:
  workflow_dispatch:
  schedule:
    - cron: '30 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with: {fetch-depth: 0}

      - name: 重置到最新
        run: |
          git fetch --all
          git reset --hard origin/master

      - name: Python 3.10
        uses: actions/setup-python@v5
        with: {python-version: '3.10'}

      - name: 安装依赖
        run: pip install requests lxml

      - name: 运行脚本
        run: python merge.py

      - name: 提交并推送
        run: |
          cp output/epg.gz epg.gz
          git config --global user.name "Actions"
          git config --global user.email "actions@github.com"
          git add epg.gz
          git commit -m "更新 EPG $(date +'%Y-%m-%d %H:%M')"
          git push -f origin master
