name: EPG自动更新
on:
  workflow_dispatch:
  schedule:
    - cron: '30 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 检出代码仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false  # 新加，解决权限锁冲突

      - name: 同步远程最新代码
        run: |
          git fetch --all
          git reset --hard origin/master
          git pull origin master --force  # 新加，强制拉最新，杜绝冲突
        continue-on-error: true

      - name: 配置Python环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装依赖库
        run: pip install requests lxml beautifulsoup4
        continue-on-error: true

      - name: 自动创建output目录
        run: mkdir -p output

      - name: 运行合并脚本生成EPG文件
        run: python merge.py
        continue-on-error: true

      - name: 提交并推送GitHub
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          # 只提交gz，不提交xml，适配你最新的脚本
          git add -f output/*.gz
          git commit -m "✅ EPG自动更新 $(date +'%Y-%m-%d %H:%M:%S')" --allow-empty
          
          # 修复推送命令，彻底解决 cannot lock ref 报错
          git push -f origin master
        continue-on-error: true
